## (Roll Nos: 6-10) Develop an NLP pipeline that performs: 
#### c) Generate Text N-Grams Without Using NLTK: Implement n-gram extraction (bi-grams, tri-grams, etc.) from a given text.      
#### d) Ignore stopwords and punctuation in the process.

In [1]:
import string #It helps us to perform string operations
import random #ramdom used to generating random data and shuffling the data
from itertools import islice # this helps in slicing the data

In [6]:
 """Since our task is to ignore stopwords and punctuation in the process of Implementing N-gram extraction  using the text processing of 10,000 texts with a minimum of 200 characters in each text."""

'Since our task is to ignore stopwords and punctuation in the process of Implementing N-gram extraction  using the text processing of 10,000 texts with a minimum of 200 characters in each text.'

In [8]:
#Declaring the stop words manulayy  without using Natural Language Tool Kit
stop_w = {
    "i", "me", "my" , "we", "our", "ours",  "you", "your", "yours", "he", "him", "his",  "she", "her", "hers",  "it", "its", "itself", "they", "them", "their",
    "theirs",  "what", "which", "who", "whom", "this", "that", "these", "those", "am", "is", "are", "was",
    "were", "be", "been", "being", "have", "has", "had", "having", "do", "does", "did", "doing", "a", "an", "the", "and",
    "but", "if", "or", "because", "as", "until", "while", "of", "at", "by", "for", "with",  "before", "after", "above", "below", "to", "from", "up", "down", "in", "out", "on",
    "off", "over", "under", "then", "once", "here", "there", "when", "where", "why", "how", "all","any", "both", "each", "few", "more", "most", "other", "some", "such", "no", "nor", "not", "only", "own", "same",
    "so", "than", "too", "very", "can", "will", "just", "now"
}

In [13]:
#Let us create our own corpus of 10000 text of each 200 characters

def generate_random_text(min_chars=200):
    words = ["Hello", "this", "is", "Roshan", "Babu", ",", "pursuing", "my", "mtech","in","Mahindra","University",".","I","am","Indian","Men's","Throwball","Player","!"] * 50
    random.shuffle(words)
    return " ".join(words)[:min_chars]

### Our reuired data have been generated,now we need to preprocess the data:
#### i)lowercase the text
#### ii)Remove punctuations
#### iii)Split into words

In [14]:
#we will define a function to perform the required tasks
def preprocess_text(text):
    text = text.lower().translate(str.maketrans('', '', string.punctuation))
    words = text.split() #we will split the words from each text
    return [word for word in words if word not in STOPWORDS] #will return the word that are not in stopwords after removing punctuations

In [15]:
#To implement N-gram extraction we will create n-grams from words
def generate_ngrams(words, n):
    return [tuple(words[i:i+n]) for i in range(len(words) - n + 1)]

In [16]:
#We need to 
def process_texts(texts, n):
    all_ngrams = [] #will use an empty list to store all n-grams
    for text in texts: #process each text one by one upto 200
        words = preprocess_text(text)  # unsing the preprocess_text function we will clean the data
        ngrams = generate_ngrams(words, n)  
        all_ngrams.extend(ngrams)  # Store all n-grams generated
    return all_ngrams

In [17]:
# Generate 10,000 sample texts
df = [generate_random_text() for _ in range(10000)]

In [20]:
#Let us stor ethe generated texts in csv to easy access and view
import csv
with open("generated_texts.csv", "w", newline="", encoding="utf-8") as f:
    writer = csv.writer(f) # will create a csv writer
    writer.writerow([" Generated Text"]) #the header row will be the Text Generated
    for text in df:
        writer.writerow([text])  #finally in loop write the text to csv file

In [22]:
#Let's check the sample dataset
df1=pd.read_csv("C:/Users/rosha/Documents/M.Tech/Mahindra University/SEMESTER_2/NLP/Assignments/generated_texts.csv")

In [32]:
df1.head()

                                      Generated Text
0  is Mahindra . am Roshan in Throwball this ! , ...
1  mtech Men's Roshan mtech Hello University am i...
2  am Babu Men's is is Throwball Indian Mahindra ...
3  Player Throwball my Mahindra Indian pursuing !...
4  University Babu pursuing Indian Babu Babu in i...

In [31]:
df1.tail()

                                         Generated Text
9995  am mtech ! . ! my University Player Indian thi...
9996  my pursuing Mahindra my , Throwball in Player ...
9997  ! Babu Hello Mahindra in University Mahindra !...
9998  mtech am am pursuing Roshan ! pursuing Indian ...
9999  is my my . , this . Hello Indian Hello Hello B...

In [44]:
#Let us declare the required N-gram
n=2

In [45]:
ngrams_result = process_texts(df, n) #to store the n-grams

In [46]:
# Open a CSV file to save n-grams
with open("ngrams_output.csv", "w", newline="", encoding="utf-8") as file:
    writer = csv.writer(file)  
    writer.writerow(["N-gram"])  #Name of Header row

    # Combine each n-gram as a joined string
    for ngram in ngrams_result:
        writer.writerow([" ".join(ngram)])  # Converts tuple to a string and write to csv file

In [47]:
df2=pd.read_csv("C:/Users/rosha/Documents/M.Tech/Mahindra University/SEMESTER_2/NLP/Assignments/ngrams_output.csv")

In [48]:
df2.head()

               N-gram
0     mahindra roshan
1    roshan throwball
2  throwball mahindra
3      mahindra mtech
4     mtech throwball

### Successfully created the Bi-gram from the texts.

In [49]:
print(f"Total n-grams generated: {len(ngrams_result)}")
for ngram in ngrams_result[:10]:
    print(ngram)

Total n-grams generated: 196526
('mahindra', 'roshan')
('roshan', 'throwball')
('throwball', 'mahindra')
('mahindra', 'mtech')
('mtech', 'throwball')
('throwball', 'hello')
('hello', 'mens')
('mens', 'indian')
('indian', 'mtech')
('mtech', 'roshan')

# Similarly will find the Tri-grams from the texts.

In [50]:
#Let us declare the required N-gram
n=3

In [51]:
ngrams_result1 = process_texts(df, n) #to store the n-grams

In [56]:
# Open a CSV file to save n-grams
with open("ngrams_output1.csv", "w", newline="", encoding="utf-8") as file:
    writer = csv.writer(file)  
    writer.writerow(["N-gram"])  #Name of Header row

    # Combine each n-gram as a joined string
    for ngram in ngrams_result1:
        writer.writerow([" ".join(ngram)])  # Converts tuple to a string and write to csv file

In [57]:
df3=pd.read_csv("C:/Users/rosha/Documents/M.Tech/Mahindra University/SEMESTER_2/NLP/Assignments/ngrams_output1.csv")

In [58]:
df3.head()

                      N-gram
0  mahindra roshan throwball
1  roshan throwball mahindra
2   throwball mahindra mtech
3   mahindra mtech throwball
4      mtech throwball hello

In [59]:
print(f"Total n-grams generated: {len(ngrams_result)}")
for ngram in ngrams_result1[:10]:
    print(ngram)

Total n-grams generated: 196526
('mahindra', 'roshan', 'throwball')
('roshan', 'throwball', 'mahindra')
('throwball', 'mahindra', 'mtech')
('mahindra', 'mtech', 'throwball')
('mtech', 'throwball', 'hello')
('throwball', 'hello', 'mens')
('hello', 'mens', 'indian')
('mens', 'indian', 'mtech')
('indian', 'mtech', 'roshan')
('mtech', 'roshan', 'hello')